.accordion {
  background-color: #fbfbfb00;
  color: #fffdfd;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: transparent;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
}

.accordion-body.active {
  padding: 0 18px;
  background-color: #575555;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-button {
  background-color: transparent !important;
}

.accordion-button:focus {
  background-color: transparent;
  box-shadow: none;
}

.accordion-item {
  background-color: #77777700 !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
}
