/* .weather-app {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: sans-serif;
}

.weather-app-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weather-app-day {
  margin-bottom: 10px;
}

.weather-app-day-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.weather-app-day-temperature {
  font-size: 14px;
} */
